.place__image {
    object-fit: cover;
    overflow: hidden;
    max-width: 320px;
    width: 100%;

    margin: 0 auto 32px;
}

@media screen and (min-width: 768px){
    .place__image {
        width: 100%;
        min-width: 340px;
    }
}

@media screen and (min-width: 1024px){
    .place__image {
        
        min-width: 440px;
    }
}

@media screen and (min-width: 1280px){
    .place__image {
        margin: 0 0 32px;
        min-width: 460px;
    }
}