.lead {
    padding-top: 48px;
    margin: 0 auto;
    min-width: 320px;
    min-height: 406px;
    overflow: hidden;
}

@media screen and (min-width: 768px){
    .lead {
        min-width: 750px;
    }
}

@media screen and (min-width: 1024px){
    .lead {
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px){
    .lead {
        max-width: 984px;
    }
}