.cover__subtitle {
font-family: Inter, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
padding: 20px 16px 30px;
margin: 0;
}

@media screen and (min-width: 768px){
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        max-width: 360px;
        margin: 0 auto;
        padding-bottom: 115px;
        padding-top: 32px;
    }
}

@media screen and (min-width: 1024px){
    .cover__subtitle {
        padding-bottom: 195px;
        padding-top: 35px;
    }
}

@media screen and (min-width: 1280px){
    .cover__subtitle {
        padding-bottom: 245px;
    }
}