.footer__links {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 768px){
    .footer__links {
        display: flex;
        flex-direction: row;
    }
}