.place__paragraph {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin: 0 16px;
    align-items: stretch;
}

.place__paragraph:first-of-type {
    margin-bottom: 25px;
}

.place__paragraph:last-of-type {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px){
    .place__paragraph:last-of-type {
        margin-bottom: 27px;
    }
}

@media screen and (min-width: 1024px){
    .place__paragraph {
        line-height: 29px;
        margin: 0 12px;
        font-size: 18px;
        line-height: 29.34px;
    }

    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }
}