.intro {
    margin: 0 auto;
    min-width: calc(320px - 32px);
    padding: 0 16px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .intro {
        max-width: 720px;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .intro {
        max-width: 690px;
        margin-left: 48px;
        padding: 0;
    }
}

@media screen and (min-width: 1280px){
    .intro {
        max-width: 77%;
        padding: 0;
    }
}
