.intro {
    margin: 0 auto;
    min-width: 288px;
    padding-left: 16px;
}

@media screen and (min-width: 768px){
    .intro {
        min-width: 720px;
        padding-left: 0;
    }
}

@media screen and (min-width: 1024px){
    .intro {
        max-width: 690px;
        margin-left: 48px;
    }
}

@media screen and (min-width: 1280px){
    .intro {
        margin-left: 148px;
    }
}
