.lead__subtitle {
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #fff;
    max-width: 288px;
    margin: 0 auto 40px;
}