.lead__caption {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    letter-spacing: 0.15em;
    margin: 8px auto 0;
    padding-left: 16px;
    width: calc (158px + 16px);
}

@media screen and (min-width: 768px){
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (min-width: 1024px){
    .lead__caption {
        padding-left: 0;
    }
}