.footer__list {
    margin-bottom: 32px;
}

.footer__list:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 768px){
    .footer__list {
        margin-bottom: 0;
        margin-left: 18px;
    }

    .footer__list:first-of-type {
        margin-left: 0;
    }
}

@media screen and (min-width: 1024px){
    .footer__list {
        margin-left: 18px;
    }

    .footer__list:first-of-type {
        margin-left: 0;
    }
}
