.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 24px;
    min-width: 186px;
}

@media screen and (min-width: 768px){
    .footer {
        flex-direction: row;
    }
}